body {
	background-color: #505c7c;
}

.mapdiv {
	position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);

}

svg {height: 26vw;
    }

.btn {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.popover {
	
     font-family: serif;
     opacity: 0.1;
     filter: alpha(opacity=50);
}



circle:hover { fill: #eee; }

